ul {
    list-style-type: square;
    list-style-position: outside;
}
ol {
    list-style: inside lower-roman;
}

table, th, td {
    border: solid 1px;
    width: 20%;
    border-collapse: collapse;
}
th {
    height: 70px;
}